/* Fonts */
@font-face {
  font-family: roboto-flex;
  src: url(../fonts/RobotoFlex.ttf) format('truetype-variations');
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: roboto-flex;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

#reconnectMessage {
  position: absolute;
  padding: .75em;
  z-index: 9999;
  bottom: 0em;
  right: 1em;
  display: none;
  background-color: #fff;
}

#username {
  display: none;
}

#close-button {
  cursor: pointer;
  position: relative;
  margin-left: auto;
  margin-right: .2em;
  margin-top: .2em;
  width: 2em;
  height: 2em;
}

#close-button:hover {
  opacity: .5;
}

#close-button span {
  position: absolute;
  top: calc(50% - .1em);
  margin: 0 auto;
  left: 0;
  right: 0;
  display: block;
  background-color: #000;
  width: 80%;
  height: 1em;
  height: .2em;
}

#close-button span:nth-of-type(1) {
  transform: rotate(45deg);
}

#close-button span:nth-of-type(2) {
  transform: rotate(-45deg);
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  overflow-y: scroll;
  height: 85vh;
  padding: 1em;
  margin: 0;
}

ul li {
  position: relative;
  word-wrap: break-word;
  border-radius: 1em 1em 0em 1em;
  background-color: #eaeaea;
  margin-left: auto;
  margin-right: 2em;
  margin-bottom: 1em;
  width: 50%;
  padding: 1em;
}

ul li .message-before {
  position: absolute;
  content: "";
  display: inline-block;
  bottom: 0;
  right: -2.3em;
  width: 2em;
  height: 2em;
  transform: translateY(2.5em);
  border: 2px solid #000;
  z-index: 1;
}

ul .my-message {
  margin-left: 2em;
  border-radius: 1em 1em 1em 0em;
  background-color: #007afe;
  color: #fff;
}

ul .my-message .message-before {
  left: -2.3em;
  right: unset;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  position: relative;
}

body main section {
  display: none;
  background-color: #fff;
  width: 25em;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
}

body main section form {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 25em;
  bottom: 0;
}

body main section form input:nth-of-type(1),
body main section form input:nth-of-type(2) {
  flex: 1 1 auto;
}

body main section form button {
  flex: 0 0 2em;
}

footer {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: .5em;
  background-color: #fff;
}