<%- include ("../partials/head.ejs") %>
<body>
    <p id="reconnectMessage"></p>
    <main>
        <canvas style="background-color: rgb(<%= rgbValues[0].red %>, <%= rgbValues[0].green %>, <%= rgbValues[0].blue %>)"></canvas>

        <div id="myModal" class="modal">

            <div class="modal-content">
              <img src="../img/canvaschat-logo.svg" alt="Logo">
              <h2>Enter your name</h2>
              <input id="nameInput" type="text" placeholder="Your name">
              <button id="nameSubmit" type="button">Submit</button>
            </div>
          </div>

        <section>
            <div id="close-button" aria-label="Close chat">
                <span></span>
                <span></span>
            </div>
            <ul id="messageHistory"></ul>
            <form>
            <span id="username"></span>
            <input id="message" type="text" placeholder="Message">
            <button id="send-button" type="submit"></button>
            <button id="change-name" type="submit"></button>
            </form>
        </section>
    </main>
    <footer>
        <p>Open the chat with the 'Z' key</p>
    </footer>
</body>
</html>